[submodule "jack"]
	path = jack
	url = ../jack-headers.git
[submodule "waf-toolchain-flags"]
	path = waf_toolchain_flags
	url = ../waf-toolchain-flags
[submodule "waf-autooptions"]
	path = waf_autooptions
	url = ../waf-autooptions
[submodule "jack-tools"]
	path = tools
	url = ../jack-tools
