/*.desc
/*.pc
/*.tar.gz
/*diff
/*diffs
/.deps
/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache
/config.cache
/config.h
/config.h.in
/config.log
/config.status
/configure
/jack-audio-connection-kit-*
/jack.spec
/libtool
/stamp-h
/stamp-h.in
/stamp-h1
/TAGS
*.o
*.lo
Makefile
Makefile.in
.libs
.deps
*.la
config/compile
config/config.guess
config/config.sub
config/depcomp
config/install-sh
config/ltmain.sh
config/missing
doc/doxygen-build.stamp
doc/reference.doxygen
doc/reference/
example-clients/jack_impulse_grabber
example-clients/jack_metro
example-clients/jack_midiseq
example-clients/jack_midisine
example-clients/jack_showtime
example-clients/jack_simple_client
example-clients/jack_transport_client
example-clients/jack_rec
example-clients/jack_latent_client
jack/version.h
jackd/jack_md5.h
jackd/jackdbus
jackd/org.jackaudio.service
jackd/jackd
jackd/jackd.1
tags
tools/alsa_in
tools/alsa_out
tools/jack_alias
tools/jack_connect
tools/jack_disconnect
tools/jack_evmon
tools/jack_freewheel
tools/jack_load
tools/jack_lsp
tools/jack_monitor_client
tools/jack_netsource
tools/jack_thread_wait
tools/jack_transport
tools/jack_unload
tools/jack_iodelay
tools/jackrec
man/jack_netsource.1
man/jack_samplerate.1
man/jack_wait.1
man/jack_iodelay.1
tools/jack_bufsize
tools/jack_samplerate
tools/jack_wait
example-clients/jack_simple_session_client
tools/jack_midi_dump
tools/jack_session_notify
example-clients/jack_server_control
man/jack_load_test.1
tools/jack_load_test
*.pyc
/man/*.1
