[submodule "jack_control"]
	path = jack_control
	url = ../jack_control
[submodule "waf-toolchain-flags"]
	path = waf_toolchain_flags
	url = ../waf-toolchain-flags
[submodule "waf-autooptions"]
	path = waf_autooptions
	url = ../waf-autooptions
