[submodule "jack"]
	path = jack
	url = git://github.com/jackaudio/headers.git
[submodule "tools"]
	path = tools
	url = git://github.com/LADI/jack-tools.git
	branch = dbus
[submodule "example-clients"]
	path = example-clients
	url = git://github.com/jackaudio/example-clients.git
