Paul Davis <paul@linuxaudiosystems.com> paul <paul@0c269be4-1314-0410-8aa9-9f06e86f4224>
Paul Davis <paul@linuxaudiosystems.com> pbd <pbd@0c269be4-1314-0410-8aa9-9f06e86f4224>
Paul Davis <paul@linuxaudiosystems.com> Paul Davis <paul@sextet.(none)>
Paul Davis <paul@linuxaudiosystems.com> pauldavisthefirst <paul@linuxaudiosystems.com>

Jack O'Quin <joq@0c269be4-1314-0410-8aa9-9f06e86f4224> joq <joq@0c269be4-1314-0410-8aa9-9f06e86f4224>

Stéphane Letz <letz@grame.fr> Stephane Letz <letz@grame.fr>
Stéphane Letz <letz@grame.fr> sletz <sletz@0c269be4-1314-0410-8aa9-9f06e86f4224>
Stéphane Letz <letz@grame.fr> letz <letz@0c269be4-1314-0410-8aa9-9f06e86f4224>

Torben Hohn <torbenh@gmx.de> torben <torben@0c269be4-1314-0410-8aa9-9f06e86f4224>

Rui Nuno Capela <rncbc@0c269be4-1314-0410-8aa9-9f06e86f4224> rncbc <rncbc@0c269be4-1314-0410-8aa9-9f06e86f4224>
Rui Nuno Capela <rncbc@0c269be4-1314-0410-8aa9-9f06e86f4224> rncbc <rncbc@gamma.rncbc.lan>

Pieter Palmers <pieterpalmers@0c269be4-1314-0410-8aa9-9f06e86f4224> pieterpalmers <pieterpalmers@0c269be4-1314-0410-8aa9-9f06e86f4224>

Dmitry Baikov <dsbaikov@0c269be4-1314-0410-8aa9-9f06e86f4224> dsbaikov <dsbaikov@0c269be4-1314-0410-8aa9-9f06e86f4224>

Taybin Rutkin <trutkin@0c269be4-1314-0410-8aa9-9f06e86f4224> trutkin <trutkin@0c269be4-1314-0410-8aa9-9f06e86f4224>

Kai Vehmanen <kaiv@0c269be4-1314-0410-8aa9-9f06e86f4224> kaiv <kaiv@0c269be4-1314-0410-8aa9-9f06e86f4224>

David Robillard <d@drobilla.net> Dave Robillard <dave@drobilla.net>

Andy Wingo <wingo@0c269be4-1314-0410-8aa9-9f06e86f4224> wingo <wingo@0c269be4-1314-0410-8aa9-9f06e86f4224>

Недко Арнаудов (Nedko Arnaudov) <nedko@nedk.org> <nedko@arnaudov.name>
Недко Арнаудов (Nedko Arnaudov) <nedko@nedk.org> Nedko Arnaudov <nedko@nedk.org>
Недко Арнаудов (Nedko Arnaudov) <nedko@nedk.org> Nedko Arnaudov <nedko@arnaudov.name>
Недко Арнаудов (Nedko Arnaudov) <nedko@nedk.org> nedko <nedko@0c269be4-1314-0410-8aa9-9f06e86f4224>

Filipe Alexandre Lopes Coelho <falktx@falktx.com> Filipe Coelho <falktx@falktx.com>
Filipe Alexandre Lopes Coelho <falktx@falktx.com> falkTX <falktx@falktx.com>
Filipe Alexandre Lopes Coelho <falktx@falktx.com> falkTX <falktx@gmail.com>
